{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>ProjectIO</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="{% static 'welcome/aside.css'  %}">
        <link rel="stylesheet" type="text/css" href="{% static 'welcome/main.css'   %}">
        <link rel="stylesheet" type="text/css" href="{% static 'welcome/footer.css' %}">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/fontawesome.min.css" integrity="sha256-mM6GZq066j2vkC2ojeFbLCcjVzpsrzyMVUnRnEQ5lGw=" crossorigin="anonymous" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/brands.min.js" integrity="sha256-JO94/aOGy//cy/zhym7ofmZboTcjghvsYMo8kiC4yWM=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/fontawesome.min.js" integrity="sha256-7zqZLiBDNbfN3W/5aEI1OX/5uvck9V0yhwKOA9Oe49M=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/solid.min.js" integrity="sha256-JoCB3vT7DUEBtHyKsyjHG/0ab3slcq2L6QnrKf3yO1A=" crossorigin="anonymous"></script>
    </head>
    <body>
        <aside>
            <header>
                <strong>ProjectIO</strong>
            </header>
            <section id="card-container">
                <div id="card">
                    <div class="project-attribute one">
                        <span></span>
                        <strong>Your privacy is being handled carefully.</strong>
                    </div>
                    <div class="project-attribute two">
                        <span></span>
                        <strong>Enjoy the open-source application.</strong>
                    </div>
                    <div class="project-attribute three">
                        <span></span>
                        <strong>Post your thoughts & Connect with people.</strong>
                    </div>
                </div>
            </section>
            <section id="main">
                <div id="main-text">
                    <h1>Our Goal</h1>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Vero fugiat dolore natus, hic numquam sequi nobis praesentium quia maiores distinctio, unde doloribus totam nihil.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Vero fugiat dolore natus, hic numquam sequi nobis praesentium quia maiores distinctio, unde doloribus totam nihil.
                    </p>
                </div>

                <div id="main-social">
                    <h2>Visit us at</h2>
                    <div>
                       <a href="#github"><i class="fab fa-github fa-2x"></i></a>
                       <a href="#twitter"><i class="fab fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </section>
        </aside>

        <main>
            <div id="signin">
                <div id = "welcome-signin">
                    <img src="{% static 'logo/greyblue.png' %}">
                    <p>Welcome.</p>
                </div>
                <form>
                    <div id="email">
                        <input type="text" id="email" name="email" placeholder="Email">
                    </div>

                    <div id="password">
                        <input type="text" id="password" name="password" placeholder="Password">
                        <a href="#forgetpage">Forgotten password?</a>
                    </div>
                    <div id="submit">
                        <input type="submit" value="Log In">
                    </div>
                </form>
                <div id="mobile-signup">
                    <button>Sign Up</button>
                </div>
            </div>

            <div id="signup">
                <img id="logo" src="{% static 'logo/greyblue.png' %}">
                <h2>Create an account</h2>  
                <p>Join ProjectIO now.</p>
                <form>
                    <div class="union">
                        <div id="fname">
                            <input type="text" id="fname" name="fname" placeholder="First name">
                        </div>
    
                        <div id="lname">
                            <input type="text" id="lname" name="lname" placeholder="Last name">
                        </div>
                    </div>
                
                    <div id="signup-email">
                        <input type="text" id="signup-email" name="signup-email" placeholder="Email">
                    </div>

                    <div class="union">
                        <div id="signup-password">
                            <input type="text" id="signup-password" name="signup-password" placeholder="Password">
                        </div>
    
                        <div id="signup-password">
                            <input type="text" id="signup-password" name="signup-password" placeholder="Password">
                        </div>
                    </div>

                    <div class="union-two">
                        <div id="birthday">
                            <label for="gender">Birthday</label>

                            <input type="date" id="birthday" name="birthday">
                        </div>
                        
                        <div id="gender">
                            <label for="gender">Gender</label>

                            <select id="gender">
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                            </select> 
                        </div>
                    </div>
                    
                    <div id="signup-submit">
                        <input type="submit" value="Sign Up">
                    </div>
                </form>

            </div>
        </main>
        <footer>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#help_center">Help Center</a></li>
                <li><a href="#terms">Terms</a></li>
                <li><a href="#privacy_policy">Privacy Policy</a></li>
                <li><a href="#github">GitHub</a></li>
                <li><a href="#company">© 2020 ProjectIO</a></li>
            </ul>
        </footer>
        <script src="src/action.js"></script>
    </body> 
</html>